input[type=text], password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #45a049;
  }
  
  .container {
      width: 90%;
      height: auto;
      min-height: 700px;
      margin-left: auto;
      margin-right: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .main{
    height: auto;
      width: 50%;
      height: auto;
      justify-self: center;
      align-self: center;
      display: grid;
  }
  h1{
    
    font-size: 2.0rem;
    padding-left: 30px;
    padding-right: 30px;
     font-family: 900;
    text-align: center;
    color: black;
  
    border-radius: 5px;
  }
  #login error{
    animation-name: show_Login_error;
    animation-duration: 0.6s;
   
  }
  @keyframes show_Login_error{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  @media only screen and(max-width: 700px){
    .container{
      grid-template-columns: repeat(1,1fr);
    }
  }